<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} - UX Patterns and Examples</title>
  <meta name="author" content="Rufus Pollock">

  <link rel="stylesheet" type="text/css" href="http://rgrp.okfnlabs.org/css/style.css" media="all">
</head>
<body>
  <a href="http://github.com/rgrp/ux-patterns"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

  <div class="container">
    <div class="page-header">
      <h1>
        UX Patterns and Examples
        <br />
        <small>
          Opinionated collection of UX &quot;patterns&quot; and related examples &ndash; <em>from <a href="http://github.com/rgrp/">Rufus Pollock</a></em>
        </small>
      </h1>
      <div class="nav">
        <a href="./">Home</a>
        |
        <a href="typography.html">Typography</a>
      </div>
    </div>

    <div class="content">
      {{content}}
    </div>

    <div class="footer">
      Copy freely (public domain)
    </div>
  </div>
</body>
</html>
